.trade-button-add {
  --color: black;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.trade-button-remove {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.contact-popover .popover-content {
  width: 95% !important;
}

.quantity-badge {
  background-color: white;
  color: black;
  position: absolute;
  top: 0px;
  border-radius: 5%;
}

.quantity-owned-badge {
  background-color: red;
  color: white;
  position: absolute;
  left: 0px;
  border-radius: 5%;
}

.stats-cards-grid {
  padding-top: 0;
  padding-bottom: 0;
}

.stats-cards-grid ion-row {
  margin-top: 0;
  margin-bottom: 0;
}

.stats-cards-grid ion-col {
  padding-top: 3px;
  padding-bottom: 3px;
}

.stats-cards-grid ion-card {
  margin-top: 3px;
  margin-bottom: 3px;
}

.latest-system-card-col {
  text-align: center;
}

.latest-system-card-owner {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.1;
  font-size: 12px;
}
